@inherits Microsoft.AspNetCore.Components.ComponentBase
@using ReportApp.Components
@using static ReportApp.Components.AddScreenRecorder;
@using System.IO
@inject HttpClient Http
@using Newtonsoft.Json;


@if (ShowScreenRecorder)
{
    <div class=" modals ">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="titleLabel">ScreenRecorder</h5>
                <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="modal-body">

            <button @onclick="StartRecording">Start Recording</button>
            <button @onclick="StopRecording">Stop Recording</button>

            <!-- Adicione um atributo 'ref' ao elemento de vídeo -->
            <video id="preview" @ref="previewElement" autoplay></video>
            <video id="recording" controls></video>

            @if (!string.IsNullOrEmpty(logText))
            {
                <pre id="log">@logText</pre>
            }

            @if (downloadLinkVisible)
            {
                <div id="downloadContainer">
                    <a href="@downloadUrl" download="RecordedVideo.webm">Download Video</a>
                </div>
            }

            <!--
            <ScreenCapture @ref="screenCapture" ElementReference="previewElement"></ScreenCapture>
            -->

        </div>
    </div>
}


<style>

    .modals {
        display: flex;
        margin: 20px;
        justify-content: flex-start;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 2px solid black;
        border-radius: 10px;
    }
</style>
